.button {
  border: none;
  border-radius: 10px;
  color: white;
  background-color: inherit;
  font-size: 14px;
  height: 30px;
  width: 150px;

  &:disabled{
    background-color: #AFAFAF;
  }
}

.primaryTheme {
  background-color: #4B51EF;
}

.active{
  background-color: #4b50ef94;
}

.greenTheme {
  background-color: #52CF4F;
}