.form {
  padding: 20px 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.formHeader{
  display: flex;
  justify-content: space-between;

  .pageTitle {
    margin: 0;
  }
}

.inputsContainer {
  height: 550px;
  padding: 20px 12px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #F3F3F3;
  border-radius: 8px;
}

.formFooter {
  display: flex;
  justify-content: flex-end;
}



